/* HeroGamers.xyz Stylesheet */
/*      Fido2603@GitHub      */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

/* Main site stuff */
html {
	font-family: 'Raleway';
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
	margin-top: 60px; /* Margin top by navbar height */
	background-color: #222222;
	color: azure;
}

h1 {
	font-family: 'Raleway';
}

h2, h3 {
	font-family: 'Lato';
}

a {
	color:#ffffff;
	text-decoration: none;
}

a:hover {
	color:#ffffff;
	text-decoration: none;
}

a:active {
	color:#ffffff;
}

a:focus {
	color:#ffffff;
}

/* General about sections */
section {
	width: 100%;
	height: 100%;
	background-color: #23272A;
	text-align: center;
	padding: 10px 10px;
	margin: 10px -15px;
}

.section-title {
	margin-bottom: 10px;
}

/* Footer and navbar */
.footer {
	position: absolute;
	text-align: center;
	line-height: 44px;
	bottom: 0;
	width: 100%;
	height: 4em;
	line-height: 60px;
	background-color: #23272A;
}

.footer div {
	background-color: #23272A;
	width: 100%;
}

.navbar {
	font-family: "Lato";
	background-color: #23272A;
}

.navbar-brand {
	font-family: "Raleway";
}

/* Sections */
#intro div {
	min-height: 60vh;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width:100%;
}

#intro {
	background-color: transparent;
}


/* Fontawesome */
.fab {
	display: inline-block;
    line-height: 50px;
	/*padding: 10px;*/
	font-size: 30px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fab:hover {
	opacity: 0.7;
	text-decoration: none;
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}
.fa:hover {
	opacity: 0.7;
}

.cd-btn:hover {
	opacity: 0.7;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-discord {
	background: #7289DA;
	color: white;
}

.fa-twitch {
	background: #6441A4;
	color: white;
}
